.container {
    text-align: left;
    margin: 20px 0;
}

.button {
    background-color: #AF4425;
    /* Кайєнський перець */
    color: white;
    font-size: 1rem;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s ease, transform 0.2s ease;
}

.button:hover {
    background-color: #662E1C;
    /* Кориця */
    transform: scale(1.05);
}

.button:active {
    transform: scale(1);
}